body {
  background-image: url("bg-header-pattern.png");
  background-size: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container {
  border: 2px solid rgb(255, 140, 0);
  /* border: 2px solid greenyellow; */
  border-radius: 10px;
}

.container form {
  padding: 70px 0px 70px 0px;
  background-color: white;
  /* margin-top:100px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 620px;
  width: 70em;
  /* border: 2px solid black; */
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}

.Roboto {
  font-family: "Roboto", sans-serif;
  color: rgb(66, 66, 66);
}

input {
  width: 20em;
  height: 25px;
  margin: 2px 2px 2px -1px;
  /* outline: none; */
  outline-color: rgb(255, 98, 0);
  outline-width: 1px;
  border-radius: 5px;
  /* background-color: #E2CFEA; */
  background-color: white;
  border: 1px solid gray;
  /* border-bottom: 2px solid #6247AA;
    border-bottom: 2px solid black; */
}

input[type="submit"] {
  margin-left: 10px;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 20em;
  height: 50px;
  color: white;
  background-color: rgb(255, 98, 0);
  font-family: "Roboto", sans-serif;
  font-size: large;
  cursor: pointer;
}

.register {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  /* color:#6247AA; */
  font-weight: bold;
  word-spacing: 2px;
  color: white;
}

.row {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  justify-content: inherit;
}

.col {
  margin-bottom: 30px;
}

#col7 input,
#col8 input {
  width: 32.5em;
}

#col6 select {
  width: 20em;
  border: none;
  height: 30px;
  margin: 2px 2px 2px -1px;
  /* outline: none; */
  outline-color: #6247aa;
  border-radius: 5px;
  /* background-color: #E2CFEA; */
  background-color: white;
  border: 2px solid #e2cfea;
  /* border-bottom: 2px solid #6247AA;
    border-bottom: 2px solid black; */
}

#address {
  border-radius: 5px;
  outline-color: rgb(255, 98, 0);
  margin: 2px 2px 2px -1px;
}

.box2 input {
  width: 100%;
}
